.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.SideBar {
  position:absolute;
  font-size:30px;
  cursor:pointer;
  text-align: unset;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#main span {
  display: block;
  text-align: left;
}

#main p{
  padding: 0%;
  text-align: left;
  line-height: 1.7px;
}

#main p a {
  text-decoration: none;
  color: black;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

html {
  height: 100%;
  background-image: linear-gradient(rgb(180, 173, 230), rgb(201, 201, 55));
  background-repeat: no-repeat;
  font-family: 'Onest', sans-serif;
}

.container {
  margin: 0%;
  display: inline-block;
  text-align:justify;
}
.screen {
  height: 100%;
}

.ico{
  max-width: 200px;
  height: auto;
  border: 5px double;
  border-radius: 50%;
  background-color: black;
}

.id_card {
  display: inline-block;
  margin: 10px;
  padding: inherit;
  border-radius: 20px;
  border: black solid;
  background-image: linear-gradient(lightblue, lightgray);
  background-repeat: no-repeat;
  text-align: left;
}

.id_info {
  padding-top: 5%;
  position: absolute;
  display: inline-block;
  text-align:justify;
}

#main .id_card .p_info {
  padding: 1%;
}

#main h1 {
  text-align: center;
}

#main .copyright {
  text-align: center;
}

#main ul li {
  list-style: none;
}

#main h3 {
  text-align: center;
  margin-top: 5%;
  border-bottom: black dotted;
}

.main{
  display: inline-flex;
  margin: 10px;
  padding: 10px;
  height: auto;
}

.id_aboutMe {
  min-width: 100%;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: black solid;
  background-image: linear-gradient(lightblue, lightgray);
  background-repeat: no-repeat;
  text-align: left;
}

#main th, td {
  border:2px solid black;
  padding: 5px;
  text-align: center;
}

#main .id_aboutMe table {
  padding: auto;
  margin: auto;
}